html
  head
    title Concord AWS Learner Logs
    link(rel="stylesheet", href="index.css")
    link(rel="shortcut icon", type="image/x-icon", href="/favicon.ico")
  body
    .header
      img(src="logo.png", align="top")
      strong Concord AWS Learner Logs
      if user
        .right
          strong #{user.info.full_name}
          a(href="/logout") Logout
    .content
      if user
        div.form-element
          label Table
            span This is selects which Athena table to query
          select#table
            option(value="processed_logs") All Logs
            option(value="lara_log_poc") LARA Logs
            option(value="codap") CODAP Logs
        div.form-element
          label Timezone
            span This is used when interpreting time filters
          select#timezone
            optgroup(label="US Timezones")
              option(value="America/New_York") US Eastern Time
              option(value="America/Chicago") US Central Time
              option(value="America/Denver") US Mountain Time
              option(value="America/Los_Angeles") US Pacific Time
            optgroup(label="All Timezones")
              each timezone in timezones
                option(value=timezone) #{timezone}
        div.form-element
          label JSON Query
            span Same format as original Log Manager but everthing except filters are ignored
          textarea#query(cols="30", rows="10", placeholder="Paste JSON log manager query here...")
        div.buttons
          button#runQuery.button Run Query
          button#clearQuery.button Clear Query
          span#download.button
        div#debug
        script(src="jquery.min.js")
        script(src="index.js")
      else
        .login-required
          div To use this application you must be an admin on the Learn Portal.
          div
            a(href="/oauth-start").button Login at the portal